.search-option{
    margin-left: 15px;
    margin-top: 5px;
}

.result-area{
    margin-left: 5px;
    margin-top: 5px;
}

.type-area{
    margin-bottom: 15px;
}

.option{
    margin-bottom: 15px;
}

.title-option{
    font-weight: bolder;
}

.freestyle-area{
    width: 100%;
    border-radius: 12px;
}

.date-input{
    width: 100%;
}

.to-time{
    text-align: center;
}

.btn-addNew .k-button {
    border-radius: 7px;
    background: #4362ee;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 67px;
}

.btn-minus .k-button {
    background: #f58338 !important;
}

.btn-detail .k-button{
    margin-left: 0 !important;
}

.btn-addNew-typology .k-button{
    border-radius: 7px;
    background: #4362ee;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
    font-weight: 700;
    margin-left: 87px;
    margin-bottom: 5px;
}

.group-header {
    padding: 0px 0px 0px 10px;
    border-left: 5px solid #4362ee;
    font-weight: bolder;
    font-size: 22px;
    text-transform: capitalize;
    line-height: 1.8;
    margin-top: 5px;
    margin-bottom: 10px;
}

.file-type {
    width: 167%;
    /* height: 150px;
    display: inline-block; 
    object-fit: cover;
    cursor: pointer;  */
}
.align-center {
    text-align: end;
    font-weight: 700;
}
.m-media-manager .align-center-webkit {
    text-align: -webkit-center;
    margin-bottom: 25px;
}
.is-cursor {
    cursor: pointer;
}